option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: lms_project.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: lms_project.settings
    PYTHONPATH: /var/app/current:$PYTHONPATH
    
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: staticfiles/
    /media/: media/
    
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    
  aws:elasticbeanstalk:command:
    BatchSize: 30
    BatchSizeType: Percentage
    
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health/

container_commands:
  01_migrate:
    command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"
    leader_only: true
    
  02_collectstatic:
    command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
    
  03_create_superuser:
    command: "source $PYTHONPATH/activate && python manage.py create_superuser_if_none_exists"
    leader_only: true

packages:
  yum:
    git: []
    postgresql15-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
