option_settings:
  aws:elasticbeanstalk:customoption:
    LogPublicationControl: true
    
files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-lms-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/django.log
      /var/log/eb-docker/containers/eb-current-app/*.log
      
  "/opt/elasticbeanstalk/tasks/systemtaillogs.d/01-lms-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/django.log
      /var/log/eb-docker/containers/eb-current-app/*.log
      
  "/opt/elasticbeanstalk/tasks/publishlogs.d/01-lms-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/django.log
      /var/log/eb-docker/containers/eb-current-app/*.log

container_commands:
  01_setup_log_rotation:
    command: |
      cat > /etc/logrotate.d/django << 'EOF'
      /var/log/django.log {
          daily
          rotate 7
          compress
          delaycompress
          missingok
          notifempty
          create 0644 webapp webapp
      }
      EOF
